html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
  font-weight: 400;
  background-color: #0c0c58;
}

.fontcustom {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
